@font-face {
    font-family: "SegoeUI";
    src: url(fonts/segoeuithibd.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "SegoeUI";
    src: url(fonts/segoeuithis.ttf) format("truetype");
    font-weight: normal;
}

#gambar-utama {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
    display: block;
    margin: 40px auto;
}

body {
    background-color: #fafafa;
    line-height: 0.5;
    margin: 0;
    padding: 0;
}

#title {
    font-family: "SegoeUI";
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

#subtitle {
    font-family: "SegoeUI";
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    color: #737272;
}

.about-us {
    font-family: "SegoeUI";
    background-color: #ffffff;
    padding: 20px;
    margin: 60px auto 20px auto;
    max-width: 1500px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.about-us h2 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;
}

.about-us p {
    font-size: 17px;
    font-weight: normal;
    color: #555;
    line-height: 1.6;
    margin: 0;
}

.our-skills, .project-showcase, .time-of-learning, .contact{
    font-family: "SegoeUI";
    background-color: #ffffff;
    padding: 20px;
    margin: 40px auto 20px auto;
    max-width: 1500px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.our-skills h2,
.project-showcase h2,
.contact h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}

.card{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0px 5px 20px 10px rgba(199,199,199,1);
    transition: all 0.5s ease;
}

#html-card {
    background-color: #dbe9fe;
}

#css-card {
    background-color: #dcfce7;
}

#responsive-card {
    background-color: #f3e8ff;
}

.card h3 {
    font-family: "SegoeUI";
    font-weight: bold;
    font-size: 20px;
    
}

.card p {
    font-size: 18px;
    color: #666;
    margin: 20px auto;
}

.progress-bar {
    position: relative;
    background-color: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    overflow:hidden;
    margin: 10px 0;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #007bff; /* Blue color for the progress */
    border-radius: 5px;
}

.card:nth-child(2) .progress-bar span {
    background-color: #28a745; /* Green for the second card */
}

.card:nth-child(3) .progress-bar span {
    background-color: #6f42c1; /* Purple for the third card */
}

.card-2 {
    background-color: #fcfcfc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card-2 h4{
    text-align: left;
    font-family: "SegoeUI";
    font-weight: bold;
    margin-bottom: 30px;
}

.card-2 p {
    text-align: left;
    line-height: 1.5;
}

.grid-container-learning {
    display: flex;
    flex-direction: row;
}

.timeline {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

#pembatas-tegak {
    margin: 15px 0px 0px 0px;
    width: 5px;
    height: 179px;
    background-color: #c1bebe;
}

.circle h4 {
    margin: 20px 0px 0px 0px;
}

#contact-form {
    font-family: "SegoeUI";
    line-height: 2;
}

#your-name, 
#your-email,
#your-message{
    width: 1490px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid rgba(216, 213, 213, 0.5); /* Blue border with 50% opacity */
}

#your-message {
    height: 100px;
}

#submit-button {
    font-size: 16px;
    color: white;
    background-color: #5f9cf7;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-home {
    background-color: #5f9cf7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0px 0px 0px 500px;
}

#back-to-home:hover {
    background-color: #0056b3;
}

footer {
    font-family: "SegoeUI";
    font-size: 14px;
    text-align: center;
    margin: 50px auto 50px auto;
    color:#737272;
}